
.scroll-block-view {
  position: relative;
}

.scroll-block-view .item {
  box-sizing: border-box;
}

.scroll-block-view .item img {
  max-width: 200%;
}

.spinner-wrapper {
  position: relative;
  margin: 10px auto;
  height: 20px;
}